@font-face {
    font-family: Pacifico;
    src: url(./assets/fonts/Pacifico-Regular.woff2);
}

@font-face {
    font-family: "Shantell Sans";
    src: url(./assets/fonts/ShantellSans-Medium.ttf);
}

@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
      format("truetype-variations");
  }

body, body > * {
    font-family: "Space Grotesk";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.commands {
    padding-top: 10px;
    padding-bottom: 30px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    background-color: black;
    color:white;
    font-weight: 700;
    font-size: 20px;
    padding: 9px 25px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.345);
    transform: translateY(0px) translateX(0px);
    transition: all 0.2s ease;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(52, 52, 52);
}


input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.345);
    transform: translateY(2px) translateX(2px);
    transition: all 0.2s ease;
}

input:focus {
    outline: auto 1px white;
}

input[type="text"],
select {
    border-radius: 5px;
    border: 0.5px solid;
    padding: 5px 10px;
    outline: none;
    transition: all 0.1s ease;

}

input[type="text"]:focus,
select:focus {
    transition: all 0.1s ease;
    border: 2px black solid;
}

#choosePlayers[open] {
    width: 33vw;
}

form, .formElement {
    display: flex;
    flex-direction: column;
    gap:3px;
}

form {
    gap: 20px;
}

form label {
    letter-spacing: 1px;
    font-style: italic;
    font-size: 11px;
}

.formElement.buttons {
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-family: Pacifico, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.status {
    visibility: hidden;
    padding-top: 30px;
    display: grid;
    column-gap: 40px;
    grid-template: 1fr 1fr / 1fr 1fr;
    font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.status > :nth-child(1),
.status > :nth-child(2) {
    font-size: 10px;
}

.status > :nth-child(1) > *,
.status > :nth-child(2) > * {
    font-size: 1rem;
}


.status > * {
    text-align: center;
}


.playerOne, .playerTwo {
    display: flex;
    flex-direction: column;
}

.playerOneScore, .playerTwoScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gameboard {
    visibility: hidden;
    background-color: black;
    gap: 2px;
    border:2px solid black;
    margin-top: 40px;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas:
    "topleft topcenter topright"
    "midleft midcenter midright"
    "btmleft btmcenter btmright";
    font-size: 60px;
    transition: visibility 0.3s ease;
    font-family: "Shantell Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.move {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0);
    transition: color 0.2s ease-in-out;
}

.move.show {
    color: rgb(65, 65, 65);
    transition: color 0.4s ease-in-out;
}

.move:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    transition: all 0.3s ease;
}